---
import background from '../assets/background.svg';
---

<div class='h-screen w-full relative flex items-center justify-center'>
  <img
    class='fixed inset-0 w-full h-full object-cover z-0'
    src={background.src}
    alt=''
    fetchpriority='high'
  />
  <main class='!z-10 relative'></main>
</div>
